body {
	background-color: #DDD;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
#header {
	text-align: right;
	height: 100px;
}
.top-link {
	background-color: #FFF;
	margin: 30px 30px;
	height: 40px;
	width: 40px;
	float: right;
}
#frame {
	display: block;
	background-color: #FFF;
	width: 600px;
	min-height: 500px;
	margin: 10px auto 0;    
	border-radius: 15px;
    border: 1px solid #556;
    padding: 10px;
	box-shadow: 10px 10px 5px #888888;
	text-align: center;
}
#frame-header {
	display: block;
	width: 400px;
	height: 70px;
	border-radius: 5px;
	background-color: #CCC;
	margin: 10px auto 10px;
    padding: 10px;
	vertical-align: bottom;
}
#frame-title {
	margin: 23px 0 0;
}
.main-link-container {
	display: inline-block;
	vertical-align: top;
	background-color: #AAA;
	width: 170px;
	height: 200px; 
	border-radius: 5px;
	margin: 7px; /* plus 3 auto added by inline-block*/
	text-align: center;	
}

.main-link-container a{
	height: 200px;
}
.main-link-container img{
	width: 50%;
	margin: 15px 40px 30px;
}