body {
	background-color: #DDD;
	}
#frame {
	background-color: #FFF;
	width: 600px;
	min-height: 500px;
	margin: 100px auto 0;    
	border-radius: 15px;
    border: 1px solid #556;
    padding: 20px;
	box-shadow: 10px 10px 5px #888888;
}